* {
    margin: 0;
    padding: 0;
}

.container{
    background-color: gray;
    text-align: center;
    margin: 100px;
    padding: 20px;
}

p{
    margin: 10px;
}

.btn{
    display: center;
    width: 115px;
    height: 25px;
    background: cornflowerblue;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
